<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="restBean" class="com.anudip.springdemo.Restaurant">

<constructor-arg ref="tea"></constructor-arg>
<property name="welcomeNote" value="Hii... welcome to Restaurant"> </property>
</bean>


 <bean id="tea" class="com.anudip.springdemo.Tea"></bean>


<bean id="coff" class="com.anudip.springdemo.Coffee"></bean>
</beans>

